# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Secrets
config_local.py