<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Our Branches | SmartBite AI</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<header>

<nav>

<div class="logo">

<img src="{{ url_for('static',filename='images/logo.jfif') }}">

<h2>

SmartBite<span style="color:#F59E0B;">AI</span>

</h2>

</div>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/menu">Menu</a></li>

<li><a href="/chatbot">AI</a></li>

<li><a href="/orders">Orders</a></li>

<li><a href="/locations">Locations</a></li>

<li><a href="/cart">Cart</a></li>

</ul>

</nav>

</header>



<section>

<center>

<div class="badge ready">

📍 Our Restaurants

</div>

<br>

<h1 class="section-title">

Find SmartBite Near You

</h1>

<p class="section-subtitle">

Visit one of our premium restaurants.

</p>

</center>

</section>



<section>

<div class="map-box">

<iframe

src="https://www.google.com/maps?q=Chandigarh&output=embed"

loading="lazy">

</iframe>

</div>

</section>



<section>

<div class="food-grid">

{% for branch in branches %}

<div class="food-card">
{% if loop.index == 1 %}

<img src="{{ url_for('static', filename='images/hi.jfif') }}">

{% elif loop.index == 2 %}

<img src="{{ url_for('static', filename='images/branch.jpg') }}">

{% elif loop.index == 3 %}

<img src="{{ url_for('static', filename='images/ko.jfif') }}">

{% elif loop.index == 4 %}

<img src="{{ url_for('static', filename='images/br.jfif') }}">

{% else %}

<img src="{{ url_for('static', filename='images/logo1.jpg') }}">

{% endif %}

<div class="food-info">

<h3>

{{ branch[1] }}

</h3>

<p>

📍 {{ branch[2] }}

</p>

<br>

<p>

📞 {{ branch[3] }}

</p>

<br>

<p>

🕒 10 AM - 11 PM

</p>

<br>

{% if branch[4] %}

<span class="badge ready">

🟢 Open

</span>

{% else %}

<span class="badge nonveg">

🔴 Closed

</span>

{% endif %}

<br><br>

<a target="_blank"

href="https://maps.google.com/?q={{ branch[2] }}">

<button class="btn btn-primary">

Directions

</button>

</a>

</div>

</div>

{% endfor %}

</div>

</section>
<footer>

<div class="footer-grid">

<div>

<h2>

🍽 SmartBite AI

</h2>

<p>

Find your nearest SmartBite franchise.

</p>

</div>

<div>

<h3>

Quick Links

</h3>

<a href="/">Home</a>

<a href="/menu">Menu</a>

<a href="/orders">Orders</a>

</div>

<div>

<h3>

Support

</h3>

<a href="#">FAQs</a>

<a href="#">Privacy</a>

</div>

<div>

<h3>

Follow

</h3>

<i class="fab fa-facebook fa-2x"></i>

&nbsp;

<i class="fab fa-instagram fa-2x"></i>

&nbsp;

<i class="fab fa-linkedin fa-2x"></i>

</div>

</div>

</footer>

<script src="{{ url_for('static',filename='script.js') }}"></script>

</body>

</html>